.container-about{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;



    .collapse {
        display: flex;
        margin-top: 5px;
        justify-content: center;
    }

}