.view {
    flex-grow: 1;

    .view-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin: 0 auto;


        @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            
            
        }

        .view-infos {
            display: flex;
            flex-direction: column;
            margin-top: 5px;

            h1 {
                font-family: Montserrat;
                font-size: 36px;
                font-weight: 500;
                line-height: 51.34px;
                color: #FF6060;
            }
            p {
                font-family: Montserrat;
                font-size: 18px;
                font-weight: 500;
                line-height: 25.67px;


            }


            .view-tag {
                display: flex;
                flex-wrap: wrap;
                margin-top: 23px;
                gap: 10px;

                button {
                    padding: 5px 15px;
                    height: 30px;
                    cursor: pointer;
                    margin-right: 7px;
                    background-color: #FF6060;
                    border-radius: 20px;
                    border: none;
                    color: white;

                }
            }
        }
        .view-host {
            display: flex;
            flex-direction: column;
            margin: 5px;

            @media screen and (max-width: 768px){
                width: 100%;
                flex-direction: row-reverse;
                justify-content: space-between;
              
            }
           

            .host-info {
                display: flex;
                align-items: center;
                
                .host-name {
                    text-align: right;
                    margin-right: 5px;
                }
                span {
                    display: block;
                }
               
                
            }

            img {
                margin-left: 5px;
                width: 64px;
                height: 64px;
                border-radius: 50%;
           
 
            }
            .star-image {
                
                margin-top: 20px;
                width: 20px; 
                height: 20px;
            }
             

        }
    } 
    .cols {
        display: flex;
        justify-content: space-between;
        flex: 1 50%;
        gap: 76px;
        margin-top: 26px;

    }
    @media screen and (max-width: 768px) {
        .cols {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex: 1 100%;
        }
        
    }
    
}