.main-container {
    margin-top: 50px;
    height: auto;
    background-color: #F6F6F6;
    padding: 25px 0 25px 0;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    @media screen and (max-width: 768px) {
      margin-top: 10px;
      padding:  0;
      background-color: #ffffff;
    }
    
}


   