footer {
    margin-top: 20px;
    width: 100%;
    height: 200px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Ajout de cette ligne pour centrer verticalement */

    img {
        height: 39px;
        width: 122px;
    }
    p {
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 500;
        line-height: 20px;
        color: #FFFFFF;
    }

}
    
