.page-404 {
    text-align: center;
    margin-top: 90px;

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    p {
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 500;
        line-height: 51.34px;
        color: #FF6060;
        margin-top: 85px;
    }
    a {
        display: block;
        margin-top: 50px;
    }
    
}