.page-404 {
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
        margin-bottom: 20px;
    }

    p {
        font-size: 2rem;
        color: red;
        margin-bottom: 20px;
    }
}